h1 {
  color: rgb(17, 4, 4);
  font-family: fantasy;
  background-size: cover;
  background-color: rgb(240, 93, 25);
  text-align: center;
  text-decoration: solid;
  background-size: auto;
  font-size: 344px;
}
p {
  text-align: center;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
.image {
  text-align: center;
  font-weight: 800;
}
.image2 {
  font-size: xx-large;
}
h2 {
  font-size: xx-large;
  text-align: center;
}
.main {
  background-color: rgb(230, 187, 46);
  color: rgb(0, 0, 0);
  font-family: "cursive";
}
