h1 {
  color: rgb(17, 4, 4);
  font-family: fantasy;
  background-size: cover;
  background-color: rgb(240, 93, 25);
  text-align: center;
  text-decoration: solid;
  background-size: auto;
  font-size: 34px;
  display: flex;
}
p {
  text-align: center;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
.image {
  text-align: center;
  font-weight: 800;
  display: inline-block;
  margin: 30px;
  flex: 1;
  border: 4px solid red;
}
.image2 {
  font-size: xx-large;
  display: inline-block;
  flex: 1;
}
h2 {
  font-size: xx-large;
  text-align: center;
}
.main {
  color: rgb(0, 0, 0);
  font-family: "cursive";
}

.div1 {
  text-align: center;
  display: flex;
  flex: 1;
}
#di {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  height: 500px;
  padding: 40px;
  flex-direction: row;
  /* font-size: xx-large; */
  /* text-align: center; */
  align-items: center;
  /* align-items: center; */
  gap: 7px;
}
#io {
  text-align: center;
  flex-shrink: 0;
  width: auto;
  height: auto;
  font-size: larger;
  font-weight: bolder;
}
.img {
  margin: 1px;
  width: auto;
  height: 300px;
  flex-shrink: 0;
}
